%h1 Hi Matt (or anyone who finds this)!
%p Welcome to my rails site. Since most of the work I do in ruby and rails is private, I decided I should create a quick site to prove that I have some familiarity with Ruby on Rails. Please feel free to check out my Github repo for some example Ruby apps I've written for work. 

