#content
%h1 Resume
%h2 Education
%h3 University of Tennessee, Knoxville, TNi
%p 2006-2007
%ul
  %li MS, Communication and Information Sciences
  %li Focused on Interpersonal Communication and its impact on corporateenvironments
  %li Developed data mining project to help Pilot Corporation interpret relationships in sales data
  %li Developed parser to analyze lexical structure of Wikipedia
%h3 University of Tennessee, Knoxville, TN
%p 2004-2006
%ul
  %li BS, Computer Science
%h3 Pellissippi State Technical Community College, Knoxville, TN
%p 2002-2004
%ul
  %li AS, Computer Science
%h2 Experience
%h3 Coming soon!
